body{
  margin: 0px;
}

p{
  color:#343331;
  line-height: 2;
  font-family:'Work Sans', sans-serif;
}

h1{
	color:#2F615D;
	font-family: 'Mukta', sans-serif;

}

h2{
	color:#2F615D;
  padding-bottom: 10px;
  font-family: 'Mukta', sans-serif;
  font-size: 2em;


}

h3{
  color:#2F615D;
  font-family:  'Mukta', sans-serif;
}

hr{
  border-top:5px dotted;
  border-left: 0px;
  border-right:0px;
  border-bottom: 0px;
  width: 20%;
  margin: 100px auto;
}

a{
  color: #25414F;
  text-align: center;
  font-family:'Work Sans', sans-serif;
  font-size: 1em;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#343331;
}


/*INTRO DIV*/

.intro{
	background-color:#EAF6F6;
	padding: 200px;
  text-align:center;
}

.intro h1{
  font-size: 4em;
}

.intro p{
}

.ghost-left{
  position:absolute;
  width: 10%;
  margin-left: 140px;
}

.ghost-right{
  position:absolute;
  width: 10%;
  margin-left: -275px;
  transform:scaleX(-1);
  margin-top:-100px;
}

/*MIDDLE CONTAINER DIV*/
.middle-container{
  padding:100px 0px;
  text-align:center;
}
.profileimg{
  border-radius: 50%;
  width: 150px;
}

.middle-container-p{
  width:20%;
  margin: auto;
}

/*Skill rows*/
.skill-row{
  width:50%;
  margin:100px auto;
  text-align:left;
}


.ghostbearicons{
	width:20%;
  border-radius: 50%;
  float:left;
  margin-right:30px;
}

.ghostfreepik{
	width:20%;
  border-radius: 50%;
  float:right;
  margin-right:30px;
}

/*CONTACT DIV*/

.btn {
  background: #2F615D;
  border-radius: 28px;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 30px;
}

.btn:hover {
  background: #25414F;
  text-decoration: none;
}

/*FOOTER*/

footer{
  background-color:#EAF6F6;
  margin: 0px;
  padding: 20px;
}

.footer-link{
  text-align: center;
}


.footer-p{
  margin: 0px auto;
  text-align: center;

}