body{
	text-align: center;
	font-family: 'Space Grotesk', sans-serif;
}

li{
	list-style: none;
}
.main{
	background-color:lightblue;
	border-radius: 30px;
	padding: 30px;
}

input{
	padding: 10px;
}
button{
	padding:10px;
}